{#
SPDX-License-Identifier: LGPL-2.1-or-later
SPDX-FileCopyrightText: 2026 Frank David Martínez Muñoz <mnesarco>
SPDX-FileNotice: Part of FreeCAD.
#}

<div class="d-print-none dashboard-header sticky-top">
    <div class="container-xl">
        <div class="row align-items-center gy-2">
            <div class="col-12 col-md order-2 order-md-1">
                <div class="text-center text-md-start">
                    <div class="page-pretitle">Generated</div>
                    <div class="text-secondary">{{ time }}</div>
                </div>
            </div>
            <div class="col-12 col-md-auto order-1 order-md-2 text-center">
                <div class="page-pretitle">FreeCAD Project Association</div>
                <div class="page-title">{{ title }}</div>
            </div>
            <div class="col-12 col-md order-3 d-flex flex-row justify-content-center justify-content-md-end align-items-center gap-3">
                <a href="https://github.com/FreeCAD/Addon-Reports" alt="Github Repository" class="header-button" role="button"><i class="ti ti-brand-github"></i></a>
                <button id="theme-toggle" class="header-button" title="Toggle dark / light mode">
                    <i class="ti ti-moon"></i>
                    <span class="theme-label">Dark</span>
                </button>
            </div>
        </div>
    </div>
</div>
<div id="top" style="height: 0px; scroll-margin-top: 5rem;"></div>
