{#
SPDX-License-Identifier: LGPL-2.1-or-later
SPDX-FileCopyrightText: 2026 Frank David Martínez Muñoz <mnesarco>
SPDX-FileNotice: Part of FreeCAD.
#}

{% macro head(lbl, dt, idx, align="end", tooltip="", advanced="") %}
<th data-sort="{{idx}}"
    data-type="{{dt}}"
    {% if advanced %}data-advanced-column="{{ idx }}"{% endif %}
    class="text-{{align}}"
    title="{{tooltip}}">{{lbl}}<span class="sort-icon"></span>
</th>
{% endmacro %}

<div class="card">
    <div class="table-responsive">
        <table class="table table-hover table-striped table-sm table-vcenter addons-table" id="addons-table">
            <thead>
                <tr>
                    {{ head("#", "number", 0, "start", "Rank by score") }}
                    {{ head("Addon", "string", 1, "start") }}
                    {{ head("Version", "string", 2, "end") }}
                    {{ head("Label", "string", 3, "start") }}
                    {{ head("Score", "number", 4, "center", "Static analysis score") }}
                    {{ head("High", "number", 5, "center") }}
                    {{ head("Med", "number", 6, "center") }}
                    {{ head("Low", "number", 7, "center") }}
                    {{ head("Updated", "string", 8) }}
                    {{ head('<i class="ti ti-download"></i> 1yr', "number", 9, tooltip="Downloads from AddonManager (last 365 days)") }}
                    {{ head('<i class="ti ti-download"></i> 1mo', "number", 10, tooltip="Downloads from AddonManager (last 30 days)") }}
                    {{ head('<i class="ti ti-star"></i>', "number", 11, "center", "Github stars") }}
                    {{ head('<i class="ti ti-bug"></i>', "number", 12, "center", "Github issues", advanced="1") }}
                    {{ head('<i class="ti ti-git-fork"></i>', "number", 13, "center", "Github forks", advanced="1") }}
                    {{ head("Files", "number", 14, "center", "Python files analyzed", advanced="1") }}
                    {{ head("Git Ref", "string", 15, "start", advanced="1") }}
                    {{ head("Tag", "string", 16, "start", advanced="1") }}
                    {{ head("License", "string", 17, "start", advanced="1") }}
                    {{ head("Created", "string", 18, tooltip="Github repository creation date") }}
                </tr>
            </thead>
            <tbody>
                {% for rpt in reports %}
                {% set color = rpt.score|score_color %}
                <tr data-addon-id="{{ rpt|rpt_id }}">
                    <td data-value="{{ loop.index }}" class="text-center">{{ loop.index }}</td>
                    <td class="addon-name text-start">
                        <a href="#{{ rpt|rpt_id }}">{{ rpt.name }}</a>
                        {% if rpt.score == 100 %}
                            <i class="ti ti-trophy" style="color: #2fb344;"></i>
                        {% endif %}
                        <span style="display: none;">{{ rpt.pkg_description | default("") }}</span>
                        <span style="display: none;">{{ rpt.pkg_people }}</span>
                    </td>
                    <td class="text-end">{{ rpt.pkg_version | default("-") }}</td>
                    <td>{{ rpt.git_branch_display | default(rpt.git_ref) | default("-") }}</td>

                    <td data-value="{{ rpt.score }}" class="text-center"><span
                            class="badge bg-{{color}} text-{{color}}-fg ms-2" style="width: 3.5em;">{{ rpt.score|fmt_float }}</span></td>
                    <td data-value="{{ rpt.high }}" class="text-center">{{ severity_badge(rpt.high, "danger") }}</td>
                    <td data-value="{{ rpt.medium }}" class="text-center">{{ severity_badge(rpt.medium, "warning") }}</td>
                    <td data-value="{{ rpt.low }}" class="text-center">{{ severity_badge(rpt.low, "info") }}</td>

                    <td data-value="{{ rpt.updated }}" class="text-end">{{ rpt.updated|time_ago }}</td>
                    <td data-value="{{ rpt.stats.downloads_365d }}" class="text-end">{{ rpt.stats.downloads_365d | fmt_float }}</td>
                    <td data-value="{{ rpt.stats.downloads_30d }}" class="text-end">{{ rpt.stats.downloads_30d | fmt_float }}</td>
                    <td data-value="{{ rpt.stats.stargazers }}" class="text-center">{{ rpt.stats.stargazers | fmt_float }}</td>
                    <td data-value="{{ rpt.stats.open_issues }}" class="text-center">{{ rpt.stats.open_issues | fmt_float }}</td>
                    <td data-value="{{ rpt.stats.total_forks }}" class="text-center">{{ rpt.stats.total_forks | fmt_float }}</td>

                    <td data-value="{{ rpt.files }}" class="text-center">{{ rpt.files|fmt_float }}</td>
                    <td>{{ rpt.git_ref | default("-") }}</td>
                    <td>{{ rpt.tag | default("-") }}</td>
                    <td>{{ ellipsis(rpt.pkg_license, 64) }}</td>
                    <td data-value="{{ rpt.stats.created_at }}" class="text-end">{{ rpt.stats.created_at[:10] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
